# Rules testing
---
Using different rules formats to try and even out the player scores

In [1]:
import pandas as pd 
import numpy as np

In [31]:
df_batting = pd.read_csv('./baseballdatabank-master/core/Batting.csv')
df_pitching = pd.read_csv('./baseballdatabank-master/core/Pitching.csv')
df_people = pd.read_csv('./baseballdatabank-master/core/People.csv')

In [3]:
def open_rules(loc):
    with open(loc) as f:
        return eval(f.read())

In [6]:
rules_batting = open_rules('./rules/batting1.txt')
rules_pitching = open_rules('./rules/pitching1.txt')

## Batters investigation

In [55]:
# Join actual batters name
df_people_reduced = df_people[['playerID', 'nameFirst', 'nameLast']].copy()
df_batting_ppl = df_batting.merge(df_people_reduced, how='inner', on='playerID')

In [56]:
identifiers_batting = ['playerID', 'nameFirst', 'nameLast', 'yearID']
columns_batting = identifiers_batting + ['G', 'AB'] + list(rules_batting.keys())
min_year = 2015

In [57]:
# Create a column for singles
df_batting_ppl['1B'] = df_batting_ppl['H'] - df_batting_ppl['2B'] - df_batting_ppl['3B'] - df_batting_ppl['HR']

In [79]:
agg_batting = df_batting_ppl[df_batting_ppl['yearID'] >= min_year][columns_batting].groupby(identifiers_batting).sum().reset_index()

In [80]:
agg_batting[agg_batting['AB'] > 50]

,playerID,nameFirst,nameLast,yearID,G,AB,BB,HBP,SO,1B,2B,3B,HR,RBI,R
8,abreujo02,Jose,Abreu,2015,154,613,39,15.0,140.0,111,34,3,30,101.0,88
9,abreujo02,Jose,Abreu,2016,159,624,47,15.0,125.0,125,32,1,25,100.0,67
10,abreujo02,Jose,Abreu,2017,156,621,35,15.0,119.0,107,43,6,33,102.0,95
11,abreujo02,Jose,Abreu,2018,128,499,37,11.0,109.0,73,36,1,22,78.0,68
12,abreujo02,Jose,Abreu,2019,159,634,36,13.0,152.0,108,38,1,33,123.0,85
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8129,zuninmi01,Mike,Zunino,2016,55,164,21,6.0,65.0,15,7,0,12,31.0,16
8130,zuninmi01,Mike,Zunino,2017,124,387,39,8.0,160.0,47,25,0,25,64.0,52
8131,zuninmi01,Mike,Zunino,2018,113,373,24,6.0,150.0,37,18,0,20,44.0,37
8132,zuninmi01,Mike,Zunino,2019,90,266,20,3.0,98.0,24,10,1,9,32.0,30
8133,zuninmi01,Mike,Zunino,2020,28,75,6,3.0,37.0,3,4,0,4,10.0,8

In [87]:
agg_batting['points_total'] = 0

for stat in rules_batting:
    agg_batting[stat + '_points'] = agg_batting[stat] * rules_batting[stat]
    agg_batting['points_total'] += agg_batting[stat + '_points']

agg_batting['ppg'] = agg_batting['points_total'] / agg_batting['G']

In [88]:
agg_batting

,playerID,nameFirst,nameLast,yearID,G,AB,BB,HBP,SO,1B,...,BB_points,HBP_points,SO_points,1B_points,2B_points,3B_points,HR_points,RBI_points,R_points,ppg
0,aardsda01,David,Aardsma,2015,33,1,0,0.0,1.0,0,...,0.0,0.0,-0.5,0,0,0,0,0.0,0,-0.015152
1,abadfe01,Fernando,Abad,2015,62,0,0,0.0,0.0,0,...,0.0,0.0,-0.0,0,0,0,0,0.0,0,0.000000
2,abadfe01,Fernando,Abad,2016,57,1,0,0.0,1.0,0,...,0.0,0.0,-0.5,0,0,0,0,0.0,0,-0.008772
3,abadfe01,Fernando,Abad,2017,48,0,0,0.0,0.0,0,...,0.0,0.0,-0.0,0,0,0,0,0.0,0,0.000000
4,abadfe01,Fernando,Abad,2019,21,0,0,0.0,0.0,0,...,0.0,0.0,-0.0,0,0,0,0,0.0,0,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8132,zuninmi01,Mike,Zunino,2019,90,266,20,3.0,98.0,24,...,10.0,4.5,-49.0,24,20,3,90,160.0,120,4.250000
8133,zuninmi01,Mike,Zunino,2020,28,75,6,3.0,37.0,3,...,3.0,4.5,-18.5,3,8,0,40,50.0,32,4.357143
8134,zychto01,Tony,Zych,2015,13,0,0,0.0,0.0,0,...,0.0,0.0,-0.0,0,0,0,0,0.0,0,0.000000
8135,zychto01,Tony,Zych,2016,12,0,0,0.0,0.0,0,...,0.0,0.0,-0.0,0,0,0,0,0.0,0,0.000000
8136,zychto01,Tony,Zych,2017,45,0,0,0.0,0.0,0,...,0.0,0.0,-0.0,0,0,0,0,0.0,0,0.000000

In [90]:
agg_batting[(agg_batting['AB'] > 50) & (agg_batting['yearID'] == 2019)].sort_values(by='ppg', ascending=False).iloc[1:50]

,playerID,nameFirst,nameLast,yearID,G,AB,BB,HBP,SO,1B,...,BB_points,HBP_points,SO_points,1B_points,2B_points,3B_points,HR_points,RBI_points,R_points,ppg
1623,cruzne02,Nelson,Cruz,2019,120,454,56,7.0,131.0,74,...,28.0,10.5,-65.5,74,52,0,410,540.0,324,11.441667
8060,yelicch01,Christian,Yelich,2019,130,489,80,8.0,118.0,85,...,40.0,12.0,-59.0,85,58,9,440,485.0,400,11.307692
6032,rendoan01,Anthony,Rendon,2019,146,545,80,12.0,86.0,93,...,40.0,18.0,-43.0,93,88,9,340,630.0,468,11.253425
6989,springe01,George,Springer,2019,122,479,67,6.0,113.0,78,...,33.5,9.0,-56.5,78,40,9,390,480.0,384,11.204918
210,alvaryo01,Yordan,Alvarez,2019,87,313,52,2.0,94.0,45,...,26.0,3.0,-47.0,45,52,0,270,390.0,232,11.160920
594,bellico01,Cody,Bellinger,2019,156,558,95,3.0,108.0,86,...,47.5,4.5,-54.0,86,68,9,470,575.0,484,10.833333
2119,encared01,Edwin,Encarnacion,2019,109,418,58,7.0,103.0,50,...,29.0,10.5,-51.5,50,36,0,340,430.0,324,10.715596
880,bregmal01,Alex,Bregman,2019,156,554,119,9.0,83.0,84,...,59.5,13.5,-41.5,84,74,6,410,560.0,488,10.599359
2614,garvemi01,Mitch,Garver,2019,93,311,41,5.0,87.0,37,...,20.5,7.5,-43.5,37,32,3,310,335.0,280,10.553763
1858,deverra01,Rafael,Devers,2019,156,647,48,4.0,119.0,111,...,24.0,6.0,-59.5,111,108,12,320,575.0,516,10.336538
164,alonspe01,Pete,Alonso,2019,161,597,72,21.0,183.0,70,...,36.0,31.5,-91.5,70,60,6,530,600.0,412,10.273292
599,belljo02,Josh,Bell,2019,143,527,74,5.0,118.0,69,...,37.0,7.5,-59.0,69,74,9,370,580.0,376,10.234266
6530,sanomi01,Miguel,Sano,2019,105,380,55,3.0,159.0,39,...,27.5,4.5,-79.5,39,38,6,340,395.0,304,10.233333
286,aquinar01,Aristides,Aquino,2019,56,205,16,2.0,60.0,26,...,8.0,3.0,-30.0,26,16,0,190,235.0,124,10.214286
315,arenano01,Nolan,Arenado,2019,155,588,62,4.0,93.0,111,...,31.0,6.0,-46.5,111,62,6,410,590.0,408,10.177419
2419,freemfr01,Freddie,Freeman,2019,158,597,87,6.0,127.0,102,...,43.5,9.0,-63.5,102,68,6,380,605.0,452,10.139241
2503,gallojo01,Joey,Gallo,2019,70,241,52,2.0,114.0,23,...,26.0,3.0,-57.0,23,30,3,220,245.0,216,10.128571
752,bogaexa01,Xander,Bogaerts,2019,155,614,76,2.0,122.0,105,...,38.0,3.0,-61.0,105,104,0,330,585.0,440,9.961290
700,blackch02,Charlie,Blackmon,2019,140,580,40,9.0,104.0,101,...,20.0,13.5,-52.0,101,84,21,320,430.0,448,9.896429
6963,sotoju01,Juan,Soto,2019,150,542,108,3.0,132.0,82,...,54.0,4.5,-66.0,82,64,15,340,550.0,440,9.890000
19,acunaro01,Ronald,Acuna,2019,156,626,76,9.0,188.0,110,...,38.0,13.5,-94.0,110,44,6,410,505.0,508,9.875000
3884,keplema01,Max,Kepler,2019,134,524,60,8.0,99.0,64,...,30.0,12.0,-49.5,64,64,0,360,450.0,392,9.869403
6331,rosared01,Eddie,Rosario,2019,137,562,22,0.0,86.0,94,...,11.0,0.0,-43.0,94,56,3,320,545.0,364,9.854015
4515,martijd02,J. D.,Martinez,2019,146,575,72,4.0,138.0,104,...,36.0,6.0,-69.0,104,66,6,360,525.0,392,9.767123
1539,correca01,Carlos,Correa,2019,75,280,35,2.0,75.0,40,...,17.5,3.0,-37.5,40,32,3,210,295.0,168,9.746667
4134,lemahdj01,DJ,LeMahieu,2019,145,602,46,2.0,90.0,136,...,23.0,3.0,-45.0,136,66,6,260,510.0,436,9.620690
7239,tatisfe02,Fernando,Tatis,2019,84,334,30,5.0,110.0,65,...,15.0,7.5,-55.0,65,26,18,220,265.0,244,9.589286
6506,sanchga02,Gary,Sanchez,2019,106,396,40,9.0,125.0,45,...,20.0,13.5,-62.5,45,24,3,340,385.0,248,9.584906
6936,solerjo01,Jorge,Soler,2019,162,589,73,10.0,178.0,74,...,36.5,15.0,-89.0,74,66,3,480,585.0,380,9.570988
662,bettsmo01,Mookie,Betts,2019,150,597,97,3.0,101.0,102,...,48.5,4.5,-50.5,102,80,15,290,400.0,540,9.530000
4484,marteke01,Ketel,Marte,2019,144,569,53,4.0,86.0,110,...,26.5,6.0,-43.0,110,72,27,320,460.0,388,9.489583
5050,muncyma01,Max,Muncy,2019,141,487,90,8.0,149.0,64,...,45.0,12.0,-74.5,64,44,3,350,490.0,404,9.485816
5323,olsonma02,Matt,Olson,2019,127,483,51,12.0,138.0,67,...,25.5,18.0,-69.0,67,52,0,360,455.0,292,9.452756
4162,lewisky01,Kyle,Lewis,2019,18,71,3,0.0,29.0,8,...,1.5,0.0,-14.5,8,10,0,60,65.0,40,9.444444
185,altuvjo01,Jose,Altuve,2019,124,500,41,3.0,82.0,88,...,20.5,4.5,-41.0,88,54,9,310,370.0,356,9.443548
6878,smithwi05,Will,Smith,2019,54,170,18,5.0,52.0,19,...,9.0,7.5,-26.0,19,18,0,150,210.0,120,9.398148
7073,storytr01,Trevor,Story,2019,145,588,58,7.0,174.0,95,...,29.0,10.5,-87.0,95,76,15,350,425.0,444,9.362069
2876,gourryu01,Yuli,Gurriel,2019,144,564,37,5.0,65.0,95,...,18.5,7.5,-32.5,95,80,6,310,520.0,340,9.336806
2150,escobed01,Eduardo,Escobar,2019,158,636,50,3.0,130.0,97,...,25.0,4.5,-65.0,97,58,30,350,590.0,376,9.275316
3432,hoernni01,Nico,Hoerner,2019,20,78,3,0.0,11.0,17,...,1.5,0.0,-5.5,17,2,3,30,85.0,52,9.250000
6683,semiema01,Marcus,Semien,2019,162,657,87,2.0,102.0,104,...,43.5,3.0,-51.0,104,86,21,330,460.0,492,9.188272
4406,mancitr01,Trey,Mancini,2019,154,602,63,9.0,143.0,100,...,31.5,13.5,-71.5,100,76,6,350,485.0,424,9.185065
7384,torregl01,Gleyber,Torres,2019,144,546,48,3.0,129.0,88,...,24.0,4.5,-64.5,88,52,0,380,450.0,384,9.152778
3160,harpebr03,Bryce,Harper,2019,157,573,99,6.0,178.0,77,...,49.5,9.0,-89.0,77,72,3,350,570.0,392,9.130573
5536,pencehu01,Hunter,Pence,2019,83,286,26,2.0,69.0,49,...,13.0,3.0,-34.5,49,34,3,180,295.0,212,9.090361
7146,suareeu01,Eugenio,Suarez,2019,159,575,70,11.0,189.0,83,...,35.0,16.5,-94.5,83,44,6,490,515.0,348,9.075472
4491,martest01,Starling,Marte,2019,132,539,25,16.0,94.0,99,...,12.5,24.0,-47.0,99,62,18,230,410.0,388,9.064394
12,abreujo02,Jose,Abreu,2019,159,634,36,13.0,152.0,108,...,18.0,19.5,-76.0,108,76,3,330,615.0,340,9.015723
4725,meadoau01,Austin,Meadows,2019,138,530,54,7.0,131.0,85,...,27.0,10.5,-65.5,85,58,21,330,445.0,332,9.007246

In [32]:
df_people.head()

,playerID,birthYear,birthMonth,birthDay,birthCountry,birthState,birthCity,deathYear,deathMonth,deathDay,...,nameLast,nameGiven,weight,height,bats,throws,debut,finalGame,retroID,bbrefID
0,aardsda01,1981.0,12.0,27.0,USA,CO,Denver,NaN,NaN,NaN,...,Aardsma,David Allan,215.0,75.0,R,R,2004-04-06,2015-08-23,aardd001,aardsda01
1,aaronha01,1934.0,2.0,5.0,USA,AL,Mobile,2021.0,1.0,22.0,...,Aaron,Henry Louis,180.0,72.0,R,R,1954-04-13,1976-10-03,aaroh101,aaronha01
2,aaronto01,1939.0,8.0,5.0,USA,AL,Mobile,1984.0,8.0,16.0,...,Aaron,Tommie Lee,190.0,75.0,R,R,1962-04-10,1971-09-26,aarot101,aaronto01
3,aasedo01,1954.0,9.0,8.0,USA,CA,Orange,NaN,NaN,NaN,...,Aase,Donald William,190.0,75.0,R,R,1977-07-26,1990-10-03,aased001,aasedo01
4,abadan01,1972.0,8.0,25.0,USA,FL,Palm Beach,NaN,NaN,NaN,...,Abad,Fausto Andres,184.0,73.0,L,L,2001-09-10,2006-04-13,abada001,abadan01